body[data-theme='dark'] {
  --colors-text: #ffffff;
  --colors-bg: #202c37;
  --colors-ui-base: #2b3945;

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}
body[data-theme='light'] {
  --colors-text: #171111;
  --colors-bg: #fafafa;
  --colors-ui-base: #ffffff;

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--colors-text);
  font-weight: var(--fw-light);
  background-color: var(--colors-bg);
}