:root {
  /* Типографика */
  --family: 'Nunito Sans', sans-serif;
  --fs-sm: 14px;
  --fs-md: 22px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  /* Цвета */


  /* Другое */
  --radii: 0.5rem;
}